.section {
  height: 85vh;
  width: 100vw;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h2 {
  font-size: 4.5em;
  text-align: center;
  letter-spacing: 3.5px;
  color: #f7f7f7;
  filter: contrast(200);
  font-weight: 300;
  max-width: 80vw;
}

@media (max-width: 798px) {
  .h2 {
    font-size: 3.5em;
    letter-spacing: 2.5px;
  }
}
