.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  font-size: 1.3em;
  letter-spacing: 0.3px;
  color: rgb(8, 155, 150);
  color: #f7f7f7;
  background-color: transparent;
  font-weight: 300;
}
